In [6]:
#import all the needed libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

We want to import the needed libraries and the data in a data frame. After this, we would clean up the data

In [9]:
#import the csv into a dataframe
planets = pd.read_csv('https://github.com/Pelumioluwa/MBAN6110Class/blob/main/Personal%20Practice/Planets.xls?raw=true')
planets.head()

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
0,MERCURY,0.330,4879,4222.6,57.9,88,47.4,167,0.00,0,No,Yes,1974-03-29,Mariner 10
1,VENUS,4.870,"12,104",2802.0,108.2,224.7,35.0,464,92.00,0,No,No,1962-08-27,Mariner 2
2,EARTH,5.970,"12,756",24.0,149.6,365.2,29.8,15,1.00,1,No,Yes,NaN,NaN
3,MOON,0.073,3475,708.7,NaN,27.3,1.0,-20,0.00,0,No,No,1959-09-12,Luna 2
4,MARS,0.642,6792,24.7,227.9,687,24.1,-65,0.01,2,No,No,1965-07-15,Mariner 4